/* App.css o tu archivo de estilos principal */

.biografia {
  text-align: center;
  padding: 20px;
}

.foto-perfil {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

p {
  margin: 5px;
}

i {
  margin-right: 5px;
}

.redes-sociales-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
  background-color: #e0f7fa; /* Fondo azul claro - Puedes ajustarlo según tus preferencias */
  padding: 10px; /* Agrega un espaciado interno */
  border-radius: 10px; /* Añade bordes redondeados */
}

.redes-sociales-container a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.redes-sociales-container a:hover {
  color: #007bff;
}
